{% extends 'learning_logs/base.html' %}

{% load bootstrap3 %}

{% block header %}

    <h2>entre com sua conta de login.</h2>
    <h5>não tem uma conta? <a href="{% url 'register' %}">cadastre-se</a>.</h5>

{% endblock header %}

{% block content %}

    <form action="" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button class="btn btn-primary">logar</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'index' %}">
    </form>
{% endblock content %}